.title {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 4px rgb(228, 228, 228);
  padding: 20px;
}


.container {
  background-color: #cdcdcd;
  padding: 30px;
  border-radius: 15px;
}

.txt {
  color: white;
}


.card {
  border-radius: 5px;
  padding: 10px;
}


.holder {
  box-shadow: 2px 5px rgb(228, 228, 228);
  border-radius: 10px;

  .firstCard {
    text-align: center;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    background-color: #3f81aa;
    padding: 10px;
    border-radius: 10px;

  }

  .secCard {
    background-color: white;
    padding: 10px;
    margin-top: -10px;
    

    
    .empty {
      margin: 30px;
      background-color: black;
  
    }
  }

  


}
.dp-flx{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.dp-strt{
  display: flex;
  justify-content: flex-start;

}

.m-l{
  margin-left: 10px ;
}
.m-r{
  margin-right: 10px;
}


.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text-group {
      display: flex;
      justify-content: flex-start;

      

  }
}

.card {
  margin: 10px 0;
  box-shadow: 2px 3px #d1d1d1;
  border-radius: 5px;
}

.pd-t{
  padding: 20px 0 0 0;
}

.bg{
  width: 100%; /* Set width as needed */
  height: 200px; /* Set height as needed */ /* Specify the path to your image */
  background-size: cover; /* Scale the image to cover the div */
  background-position: center; 
}
.w {
  color: white;
}


// padding: 5px;
//   text-align: center;
//   border-top-left-radius: 10px 10px;
//   border-top-right-radius: 10px 10px;
//   background-color: #3f81aa;}