.title-header {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0 20px 0;
  box-shadow: 5px 2px rgb(212, 212, 212);

  .btn {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }


  .empty {
    margin: 30px 0;

  }

  .data-grid {

    background-color: rgb(170, 169, 169);
  }

  .json-res {
    background-color: #fdf6e3;
    -color: rgb(243, 198, 0);
    color: black;
    border-radius: 5px;
    padding: 20px 10px;

  }
}

.text .white-text {
  color: white;
}



.flex {
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;

}

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counter.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counter.info:hover {
  background-color: #5ee8fa;
  color: #f8f8f8;

}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}
zxing-scanner {
  width: 100%;
  height: 300px;
}
.hide-video {
  visibility: hidden;  /* The camera feed is hidden, but the element remains in the DOM */
}