<div class="card" *ngFor="let item of accountData ; index as i">

    <!-- <c-card>
        <c-card-body>
            <ul cListGroup>
                <li cListGroupItem>User : {{item.USER_NAME}}</li>
                <li cListGroupItem>Password : {{item.USER_PW}}</li>
                <li cListGroupItem>Name : {{item.USER_USER}}</li>
       
              </ul>
        </c-card-body>
      </c-card> -->





</div>

<div class="buttons">
    <button cButton color="primary" (click)="getAccount('account')">account</button>
    <button cButton color="primary" (click)="getAccount('student')">student</button>

</div>