<div class="holder">
  <div class="firstCard">
    <div class="txt-card">
      <h3>ประวัติการกู้ยืม</h3>
    </div>
  </div>

  <div class="secCard">

    <div class="empty"></div>

    <div class="count-card">
      <c-card class="mb-3" style="width: 33%" *ngFor="let item of counts; index as i">
        <c-row class="g-0">

          <c-card-body cCol [md]="8">
            <h5 cCardTitle><span>{{displayCardsName(item.name)}}</span></h5>
            <h1>{{item.value}}</h1>
          </c-card-body>
        </c-row>
      </c-card>
    </div>

    <div class="data-table">
      <dx-data-grid id="gridContainer" [dataSource]="borrowForm" [showBorders]="true">
        <dxo-search-panel [visible]="false"></dxo-search-panel>
        <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
        </dxo-editing>
        <dxo-editing mode="row">
        </dxo-editing>
        <!-- (click)="addProductToArr((data.component.pageIndex() * data.component.pageSize() + data.rowIndex) , 'A' ) -->
        <dxi-column dataField="LIST_ID" caption="ID" alignment="center" [width]="50"></dxi-column>

        <dxi-column dataField="STUDENT_ID" caption="รหัส" alignment="center"
          cellTemplate="cellStudentCode"></dxi-column>
        <div *dxTemplate="let cell of 'cellStudentCode'">
          <div class="">
            <span>{{displayStudentData((cell.data.STUDENT_ID), 'code')}}</span>
          </div>
        </div>

        <dxi-column dataField="STUDENT_ID_1" caption="ชื่อ" alignment="center"
          cellTemplate="cellTemplateStatus"></dxi-column>
        <div *dxTemplate="let cell of 'cellTemplateStatus'">
          <div class="">
            <span>{{displayStudentData((cell.data.STUDENT_ID) , 'name')}}</span>
          </div>
        </div>

        <dxi-column dataField="P_ID" caption="ชื่อ ครภ" alignment="center"
          cellTemplate="cellProductStatus"></dxi-column>
        <div *dxTemplate="let cell of 'cellProductStatus'">
          <div class="">
            <span>{{displayproduct((cell.data.P_ID),'name')}}</span>
          </div>
        </div>


        <dxi-column dataField="P_ID_1" caption="Serial Number" alignment="center"
          cellTemplate="cellSerialProductStatus"></dxi-column>
        <div *dxTemplate="let cell of 'cellSerialProductStatus'">
          <div class="">
            <span>{{displayproduct((cell.data.P_ID) ,'serial' )}}</span>
          </div>
        </div>

        <dxi-column dataField="P_ID_3" caption="รหัส ครภ" alignment="center"
          cellTemplate="celleqProductStatus"></dxi-column>
        <div *dxTemplate="let cell of 'celleqProductStatus'">
          <div class="">
            <span>{{displayproduct((cell.data.P_ID) , 'qe')}}</span>
          </div>
        </div>


        <dxi-column dataField="CREATE_DATE" caption="วันที่ยืม" alignment="center" [width]="160"></dxi-column>
        <dxi-column dataField="UPDATE_DATE" caption="วันที่คืน" alignment="center" [width]="160"></dxi-column>

        <dxo-paging [pageSize]="100"></dxo-paging>
      </dx-data-grid>
    </div>
  </div>
</div>
