.card {
  padding: 10px 20px;

  h1 {
    display: flex;
    justify-content: center;
  }
}

.float-left {
  display: flex;
  justify-content: right;
}

.white-text {
  color: white;
}

.empty {
  margin: 30px;
}


.head-name {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #3f81aa;
  color: white;
  border-radius: 10px;

}

